h1{
    text-align: center;
    background-color: rgb(37, 138, 226);
    text-decoration: dashed;
    color: rgb(62, 58, 58);
    font-size: 50px;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.interface{
    text-align:center;

}