
@keyframes blink {
    0% {
      opacity: 0,5;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .blinking-text {
    animation: blink 0.5s infinite;
    text-align: center;
    text-decoration:solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size:larger, 50px;
    background-color: darkorange;
    border-radius: 30px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .BotaoDourado{
    text-align: center;
  }